div div {
	width: 100%;
	height: 100%;
	text-align: center;
}

.cell1,
.cell3,
.cell5,
.cell7,
.cell9 {
	background-color: cadetblue;
}

.cell2 {
	background-color: orange;
}

.grid-container {
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;



	/* grid-auto-flow: column; 
	grid-gap: 20px; 

	grid-auto-rows: max-content;*/

	grid-template-areas: 
	"top top top" 
	"left middle right"
	"footer footer footer";

	justify-items: center;
}

.cell2 {
	/*grid-column-start: 1;
	grid-column-end: 3;

	grid-row: -1 / 1;
	grid-column: -1 / -4; 

	grid-area: footer;
	z-index: 999; */
	justify-self: end;
}

