*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(016.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}


.navbar
{
	width: 1200px;
	height: 75px;
	margin: auto;
}

.icon
{
	width: 200px;
	float: left;
	height: 70px;
}

.logo
{
	color: greenyellow;
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	float: left;
	padding-top: 10px;
}

.menu
{
	width: 400px;
	float: left;
	height: 70px;
}

ul
{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul li
{
	list-style: none;
	margin-left: 70px;
	margin-top: 27px;
	font-size: 14px;
}

ul li a
{
	text-decoration: none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}

ul li a:hover
{
	color: greenyellow;
}


.content
{
	width: 1200px;
	height: auto;
	margin: auto;
	color: white;
	position: relative;
}


.about-me
{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

h1{
	font-size: 36px;
	font-weight: 600;
}

p
{
	color: grey;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.about-me .imgBx
{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.about-me .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.row
{
	margin: 5%;
	display: flex;
	justify-content: space-between;
}

.skills-matrix
{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.skills-matrix-col
{
	flex-basis: 31%;
	background-color: greenyellow;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

h3
{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.skills-matrix-col:hover
{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.993);
}

.about
{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.about-col
{
	flex-basis: 31%;
	background-color: greenyellow;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

h3
{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.about-col:hover
{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.993);
}

.education
{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.education-col
{
	flex-basis: auto;
	background-color: greenyellow;
	border-radius: 10px;
	margin-bottom: 10%;
	padding: 10px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

h3
{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.education-col:hover
{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.993);
}
